.fake {
cursor:  not-allowed;
}

#serverlimitstable table {
    width:100%;
}

th.right, td.right {
    text-align: right;
}

.error {
    background: darkred;
    color: white;
}

#mastodoncode, #twitter, #error {
    display: none;
}